[user]
	name = Adiatma Kamarudin
  email = adiatma9024@gmail.com
  signingkey = CFA7226A40B9B289

[commit]
  gpgsign = true

[includeIf "gitdir:~/Warpin/"]
  path = ~/.config-git/.gitconfig-warpin

[alias]
  conflicted = !nvim +Conflicted

[mergetool "vim-conflicted"]
  cmd = nvim +Conflicted

[gpg]
  program = /usr/local/bin/gpg

[core]
  pager = delta

[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  line-numbers = true
  side-by-side = true
  syntax-theme = gruvbox

[interactive]
  diffFilter = delta --color-only

