[user]
  name = Adiatma Kamarudin
  email = adiatma9024@gmail.com
  signingkey = CFA7226A40B9B289

[commit]
  gpgsign = true

[includeIf "gitdir:~/Work/"]
  path = ~/.config-git/.gitconfig-warpin

[alias]
  conflicted = !nvim +Conflicted

[mergetool "vim-conflicted"]
  cmd = nvim +Conflicted

[gpg]
  program = /usr/local/bin/gpg

